@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f6ff;
  color: #111;
}

p {
  margin: 0;
}
